/*------------------
     Common CSS 
 ------------------*/
body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

/*------------------------
    Top banner Section  
--------------------------*/

/* Text Part  */
.top-banner {
    width: 1320px;
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    margin-bottom: 100px;
}

.top-banner-text {
    width: 530px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    padding-left: 50px;
    margin-left: 50px;
    text-align: left;
}

.top-banner-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
    /* line-height: 70px; */
}

.top-banner-text p {
    font-size: 16px;
    margin-top: 0;
    /* font-weight: 400; */
}

.link-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
    width: 180px;
    /* padding: 16px; */
    background-color: #DD0000;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 5px;
}

.link-btn img {
    padding-top: 6px;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

/* image part  */
.banner-photo {
    width: 500px;
    height: 580px;
    margin-left: 60px;
    margin-top: 20px;
}

/*--------------------------------
          Middle Section 
---------------------------------*/
.mid-section {
    display: grid;
    grid-template-columns: 310px 1fr;
    margin-bottom: 100px;

}

/*---------------- Menu Section ----------------- */
.menu {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 290px;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}

.menu-bar {
    width: 250px;
    height: 64px;
    border-radius: 10px;
    color: white;
    margin: 15px;
}

.menu-bar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.colorful {
    background-color: #DD0000;
}

.colorful a {
    color: white;
}

/*--------------------Menu feature-------------- */
.menu-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;

}

/* .feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
} */

.box {
    border: 1px solid lightgray;
    border-radius: 10px;
}

.box-text {
    padding-left: 20px;
}

.box-text .heading {
    border: 1px solid #161616;
    width: 90px;
    height: 30px;
    text-align: center;
}

.box-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-info span {
    margin-left: 10px;
}

.duration,
.comment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.chat {
    margin-left: 30px;
}

.see-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -50px;
}

.see-more a {
    text-decoration: none;
    color: red;
    font-size: 1.2em;
}

/*-------------------------
       Footer section 
----------------------------*/

footer {
    text-align: center;
    background-color: #161616;
}

footer h1 {
    font-size: 2.5em;
    color: white;
    padding-top: 50px;
    margin-bottom: 50px;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
    margin-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 600;

}

.social-media {
    margin-top: 30px;
    color: white;
    padding-bottom: 50px;
}

.fa-brands {
    margin-top: 10px;
    font-size: 1.5em;
}

.fa-linkedin,
.fa-github {
    padding-left: 20px;
}

/*------------------------------
       Upcoming Matches  
 ----------------------------------*/