/*------------------
     Common CSS 
 ------------------*/
body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

/*------------------------
    Top banner Section  
--------------------------*/

/* Text Part  */
.top-banner {
    width: 1320px;
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    margin-bottom: 100px;
}

.top-banner-text {
    width: 530px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    padding-left: 50px;
    margin-left: 50px;
    text-align: left;
}

.top-banner-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
    /* line-height: 70px; */
}

.top-banner-text p {
    font-size: 16px;
    margin-top: 0;
    /* font-weight: 400; */
}

.link-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
    width: 180px;
    /* padding: 16px; */
    background-color: #DD0000;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 5px;
}

/* Hover effect */
.link-btn:hover {
    width: 220px;
    /* height: 60px; */
    /* transform: scale(1.2);
    margin-left: 18px; */
    transition: width 0.1s linear;
    /* transition: transform 0.3s linear; */
}


.link-btn img {
    padding-top: 6px;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

/* image part  */
.banner-photo {
    width: 500px;
    height: 580px;
    margin-left: 60px;
    margin-top: 20px;
}

/*--------------------------------
          Middle Section 
---------------------------------*/
.mid-section {
    display: grid;
    grid-template-columns: 310px 1fr;
    margin-bottom: 100px;

}

/*---------------- Menu Section ----------------- */
.menu {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 290px;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}

.menu-bar {
    width: 250px;
    height: 64px;
    border-radius: 10px;
    color: white;
    margin: 15px;
}

.menu-bar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.colorful {
    background-color: #DD0000;
}

.colorful a {
    color: white;
}

/*--------------------Menu feature-------------- */
.menu-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;

}

/* .feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
} */

.box {
    border: 1px solid lightgray;
    border-radius: 10px;
}

.box-text {
    padding-left: 20px;
}

.box-text .heading {
    border: 1px solid #161616;
    width: 90px;
    height: 30px;
    text-align: center;
}

.box-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-info span {
    margin-left: 10px;
}

.duration,
.comment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.chat {
    margin-left: 30px;
}

.see-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -50px;
}

.see-more a {
    text-decoration: none;
    color: red;
    font-size: 1.2em;
}

/*-------------------------
       Footer section 
----------------------------*/

footer {
    text-align: center;
    background-color: #161616;
}

footer h1 {
    font-size: 2.5em;
    color: white;
    padding-top: 50px;
    margin-bottom: 50px;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
    margin-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 600;

}

.social-media {
    margin-top: 30px;
    color: white;
    padding-bottom: 50px;
}

.fa-brands {
    margin-top: 10px;
    font-size: 1.5em;
}

.fa-linkedin,
.fa-github {
    padding-left: 20px;
}

/*-----------------------------------
        Responsive Part  
-------------------------------------*/

/* for mobile device */
@media only screen and (max-width:576px) {
    main {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .top-banner {
        padding-left: 0%;
        margin-left: 0%;
        display: flex;
        flex-direction: column-reverse;
        width: 350px;
        /* height: 600px; */
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding-bottom: 20px;
    }

    .banner-photo {
        width: 233px;
        height: 245px;
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        margin-top: 10px;

    }

    .top-banner-text h1 {
        font-size: 1em;
        padding-top: 200px;
    }

    .top-banner-text p {
        width: 100%;
        font-size: 0.6em;
    }

    .top-banner-text {
        height: 178px;
        width: 258px;
        padding: 0px;
        margin-bottom: 20px;
        margin-left: 0%;

    }

    .link-btn {
        justify-content: center;
        margin-left: 35px;
        margin-bottom: 200px;
    }

    .mid-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: white;
        margin-left: 35px;
        margin-top: -50px;
        margin-bottom: 50px;
        border: 1px solid #E8E8E8;
    }

    .menu-features {
        grid-template-columns: repeat(1, 1fr);
    }

    .box-photo img {
        width: 352px;
    }

    .footer-feature {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*---------------------
 Tablet Responsive 
 ----------------------*/
@media only screen and (min-width: 577px) and (max-width: 992px) {
    body {
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;

    }

    main {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .top-banner {
        width: 420px;
        height: 300px;
        margin-left: -5px;
        margin-right: -5px;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .top-banner-text {
        height: 150px;
        width: 230px;
        padding: 0px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-top: 50px;

    }

    .top-banner-text h1 {
        font-size: 1em;
        padding-top: 150px;
    }

    .top-banner-text p {
        width: 100%;
        font-size: 0.6em;
    }

    .banner-photo {
        width: 160px;
        height: 230px;
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        margin-top: 10px;

    }

    .link-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 160px;
        height: 40px;
        font-size: 0.8em;
        font-weight: 500;
    }

    .mid-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu {
        display: flex;
        flex-direction: row;
        color: white;
        border: 1px solid #E8E8E8;
        background-color: white;
        height: 80px;
        width: 420px;
    }

    .menu-bar {
        width: 120px;
        height: 50px;
        border-color: #E8E8E8;

    }

    .menu-bar a {
        font-size: 16px;
    }

    .menu-features {
        grid-template-columns: repeat(2, 200px);
        column-gap: 20px;
    }

    .box-photo img {
        width: 200px;
    }

    .see-more {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -50px;
        width: 420px;
    }

    .see-more a {
        text-decoration: none;
        color: red;
        font-size: 1.2em;
    }




    footer {
        width: 440px;

    }

    .footer-feature {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

}